# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
.idea/
Algorithms_Module.iml
app/libs/
app/src/main/res/drawable/
build/android-profile/profile-2017-08-21-10-04-14-869.rawproto
build/android-profile/profile-2017-08-21-10-04-18-317.rawproto
build/android-profile/profile-2017-08-21-10-07-05-925.rawproto
build/android-profile/profile-2017-08-21-10-07-26-659.rawproto
build/generated/
build/intermediates/
build/android-profile/profile-2018-03-20-14-20-30-432.rawproto
build/android-profile/profile-2018-03-20-14-22-03-669.rawproto
algorithms-java.iml
